* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: #fafafa;
}

.table {
  display: grid;
  grid-template-columns: 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px;
  grid-template-rows: 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px;
  justify-content: center;

  padding: 10px;

  background-color: #ffae34;
  border-radius: 7px;
  box-shadow: #63636333 0px 2px 8px 0px;
}

.table div {
  padding: 3px;

  border: 1px solid #000;
}

.tapete {
  background-color: #ffba53;
}

.snake {
  background-color: #44d440;
}

.food {
  background-color: #e64545;
}
